	<ul class="nav nav-pills">
		<li class="meta-nav"><%= link_to "Create Movement", movements_add_path %></li>
		<li class="pull-right">
			<%= form_for :search, :html => { :class => "navbar-search" } do |f| %> 
				<%= f.text_field :search, :placeholder => "Search..." %>
			<% end -%>
		</li>
	</ul>
