<div class="well-small clearfix">
  <p class="pull-left icon-plus" style="margin: 5px 5px 5px 0px"></p>
  &nbsp;<%= link_to "Create Topic", topics_add_path, :class => "pull-left btn-small btn-success" %> &nbsp;
</div>

