<% if flash[:notice] %>
	<%= content_tag :div, flash[:notice] || flash[:success], :class => "alert alert-error well-small" %>
<% elsif flash[:success] -%>
	<%= content_tag :div, flash[:success], :class => "alert alert-success well-small" %>
<% end -%>

<%= form_for :user, :html => { :class => "span5 form-horizontal well-small" } do |f|  %>
 <div class="control-group">
 	<label class="control-label" for="users_email">Email</label>
 	<div class="controls">
 		<input id="user_email" name="user[email]" placeholder="Email" size="30" type="text">
 	</div>
 </div>

 <div class="control-group">
 	<label class="control-label" for="users_password">Password</label>
 	<div class="controls">
 		<input id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
 	</div>
 </div>

 <div class="control-group">
 	<div class="controls">
 		<input class="btn" id="users_submit" value="Login" type="submit">
 	</div>
 </div>
 <% end -%>