	<% if flash[:notice] %>
		<%= show_msg flash[:notice], "success" %>
	<% end -%>

<h3 class="page-header" style="color: #AC0000;">The Republic: Awareness and Activism</h3>
<p class="hero-unit"><b>The Republic: Awareness and Activism</b> is an organization that enables active participation between American’s and their governance. We are dedicated to furthering a broad consciousness of political information, and encourage direct communication between individuals and their representatives in government. We seek to create a simple, honest, and effective means to connect people with policies, as well as hopefully avoid the systemic-corruption and stagnation that has overtaken the Party/Media/Lobbyist process.<p>
                                                                                                
<h3 class="pull-right well-small" style="color: #AC0000;">Use your Voice. Be Heard.</h3>
<ul class="pull-left span7">
	<h3 style="color: #AC0000;">What we expect...</h3>
	<li >RAA members know that understanding an opposing position <b>strengthens</b> the political process. We <b>respect</b> the right of all Americans to have different points of view.</li>
	 <br>
	<li>RAA members <b>refuse</b> to accept rhetoric as truth. We craft our own views, and we shall not abdicate our opinions to political parties or interest groups. Our <b>power</b> comes from our individuality, not what others want you to say.</li>
	 <br>
	<li>RAA members consider ignorance and political lethargy to be an <b>abuse</b> of the liberties our country was <b>founded</b> upon.</li>
	 <br>
	<li>We cannot <b>fall</b> into the trap of <b>ignoring</b> what we cannot understand.</li>

</ul>